.DS_Store
*.swp
*.swo
*.txt
__pycache__/
*.pyc
*.pyo
*.py[cod]
*.egg-info/
*.py
*.proto
# Directories
etc/
without domain/
old/
README.md
xray-config-example.json
xray-routing-simple.json
PROJECT-STRUCTURE.txt
